@model IEnumerable<GameMarket.Models.Genre>


@{
    ViewBag.Title = "Genres";
}

<h2>Список</h2>

<p>
    @Html.ActionLink("Добавить жанр", "Create")
</p>
<table align="left">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.GenreId }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.GenreId })
            </td>
        </tr>
    }
</table>

<p>@Html.ActionLink("Назад", "ADM", "Home")</p>